.container {
  display: block;
  justify-content: row;
  align-items: row;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  width: 475px;
  height: 450px;
}

.h1 {
  align-content: center;
}

.flex-colum {
  display: center;
  flex-direction: column;
  box-sizing: border-box;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.radio {
  margin: 10px;
  box-sizing: none;
  align-items: stretch;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  display: none;
  orientation: horizontal;
}

.radio label {
  display: center;
  background-color: #ddd;
  padding: 5px 10px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.radio label:hover {
  background-color: #dfd;
}

.radio input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.radio input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}

.comment {
  margin: 0px;
  width: 150px;
  height: 100px;
  resize: none;
}

#happy {
  direction: ltr;
}

#sad {
  direction: ltr;
}
